
*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
}
/*------------------------------------------------------------*/
.sec {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sec-hdr {
    background-color: #ff8080a2;
    box-shadow: 0px 4px 10px -4px #000000;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container {
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
} 

.sec-hdr .container {
    margin-top: 0;

}

.sec-hdr .l-sec--hdr {
    align-items: center;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 0px;
    grid-gap: 0px;
    justify-content: space-between;
}

/*------------------------------------------------------------*/
a.logo {
    background-image: url(/resources/logo2.png);
    background-color: #00000000;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -9999em;
    background-size: cover;
    display: block;
    height: 130px;
    width: 130px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.main-menu .block-menu {
    display: flex;
    align-items: center;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------*/    
.main-menu .block--main-menu li {
    display: inline-block;
    margin-right: 3px;
    padding-left: 20px;
}
.main-menu .block--main-menu li:last-child {
    margin-right: 20px;
}

.main-menu .block--main-menu a {
    font-size: .875rem;
    display: inline-block;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}



.block--main-menu ul li a {
    position: relative;
}

.block--main-menu ul li a::after {
    content: "";
    border: 2px solid #000;
    width: 0%;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease; /*Hacer transicion de izq a der*/;
    pointer-events: none;
}

.block--main-menu ul li a:hover::after {
    width: 100%;
    transform: scale(1.1);
    /* animation-iteration-count: infinite; */
}

/*-----------------------MID MENU-------------------------------------*/

.main-menu .mid-menu {
    position: relative;
    top: -20px;
}

.main-menu .brad-slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
    justify-content: flex-start;
    line-height: 1.2;
} 

.mid-menu .brad-slogan p:last-child {
    color: #740202;
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px; 
}

.mid-menu .marca {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

/*------------------------------------------------------------*/

.main-menu .merme-login-register {
    display: flex;
    text-align: center;
}

.main-menu .merme-login-register li {
    margin-right: 20px;
}

.main-menu .merme-login-register li:last-child {
    margin-right: 0px;
}

.main-menu a.buy-merme {
    border: 0;
    font-weight: 700;
    padding-left: 25px;
    position: relative;
    letter-spacing: 2px;
    border: 1px solid;
}

.main-menu .merme-login-register a.menu-register {
    background-color: #ffffff;
    color: #000000;
}

.merme-login-register a.menu-login:hover {
    background-color: #000;
    color: #fff;
}

.merme-login-register a.menu-register:hover {
    background-color: #000;
    color: #fff;
}

/*-----------------------------Boton de inicio de sesion-------------------------------*/
.button {
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    /* transition: all .2s ease; */
}

/*--------------------------------Banner de imagenes--------------------------------------*/
.full-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 100%; */

    max-width: 100%;
    /* max-width: 1000px; */
    margin: 75px 0 100px 0;
    overflow: hidden;
    /* height: 350px; */
}

.full-banner .jams {
    flex: 0 0 auto;
    width: 300px;
}

.jams {
    flex: 1;
    max-width: 100%;
}

.jams img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #c04646;
}

/* 🔹 CASO: SOLO UNA imagen */
.full-banner:has(.jams:only-child) {
    max-width: 600px;
}

.full-banner:has(.jams:only-child) .jams {
    width: 100%;
    max-width: 600px;
}

/*------------------------------Main Content------------------------------*/
.row {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.block--banner{
    margin-bottom: 45px;
    margin-left:auto;
    margin-right: auto;
    max-width: 1400px;
    border-radius: 10px;
}

.text-extra {
    color:#740202
}

.bg-extra {
    background-color: #ff8080a2;   /*******Fondo de las cards*/
}

.size-100 {
    clear: both;
}
/********/

@media (min-width: 768px) {
    .block-2-column .block-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
.block-2-column .block-content {
    align-items: center;
    display: grid;
}


.text-center {
    text-align: center !important;
}

.block--banner .text-block {
    padding: 32px 16px;
    margin: 0 auto;
    max-width: 900px;
}

.block--banner .text-block .all-text {
    margin: 0 auto;
    max-width: 83%;
    letter-spacing: 3px;
}

.title.x1 {
    font-size: 1.875rem;
    line-height: 1.385;
    font-weight: bold;
}
.strong{
    font-weight: 700;
    text-transform: uppercase;
}

.block--banner .field-abstract {
    font-size: 1.188rem;
    line-height: 1.75;
    margin-bottom: 30px;
}

.field-abstract {
    margin-top: 24px;
}
.block-image img {
    /* width: 100%; */
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 40px;
    max-width: 100%;
    max-height: 420px;
    
}

@media (min-width: 768px) {
    .align-right .block-image {
        grid-column: 2;
        grid-row: 1;
    }
}
/*-------------------------------1ra Parte Prefooter-----------------------------*/

footer {
    background-color: #fff;
}

.sec-prefooter {
    box-shadow: 0 -6px 15px -9px #000000;
    position: relative;
    z-index: 1;
}


.sec-prefooter .wrapper-menu {
    display: flex;
    position: relative;
}

.sec-prefooter .wrapper-menu .block--menu {
    margin-bottom: 0px;
    margin-right: 40px;
    max-width: 190px;
}

.sec-prefooter h3 {
    font-weight: 1.188rem;
    margin-bottom: 24px;
    position:relative;
    margin-top: 0;
}

.text-regular {
    font-weight: 600;
}

.display-xs {
    font-size: 1rem;
}

.sec-prefooter .block--nenu ul li:first-child {
    padding-top: 0;
}

.sec-prefooter .block--menu ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.sec-prefooter .block--menu ul a {
    color: #000;
    font-weight: 400;
}

/*------------------------------2da Parte Prefooter------------------------------*/
.sec-preefooter .wrapper-menu .block--menu:last-child{
    margin-right: 0;
}

/*------------------------------Footer------------------------------*/
.sec.sec-footer {
    padding-bottom: 0;
    padding-top: 0;
}

.sec-footer {
    text-align: center;
    color: #999;
}

.sec-footer .l-sec--footer {
    /* border-top: 1px solid #80d0ffa2; */
    padding-bottom: 20px;
    padding-top: 0px;
}

/*------------------------------Redes------------------------------*/
.block--social-media {
    margin-bottom: 20px;
}

.social_networks li {
    display: inline-block;
}

.social_networks li a.fabeook-icon {
    background-position-y: 0;
}

.social_networks li a.instagram-icon {
    background-position-y: -74px;
}

.social_networks li a.twitter-icon {
    background-position-y: -148px;
}

.social_networks li a.youtube-icon {
    background-position-y: -423px;
}

.social_networks li:last-child {
    margin-right: 0;
}

.social_networks li a {
    background-image: url(social_networks_v2.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999em;
    background-size: 34px;
    display: inline-block;
    height: 34px;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 34px;
}

/*------------------------------Legal------------------------------*/
ul.block-menu-legal {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
}

ul.block-menu-legal li {
    display:inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
ul.block-menu-legal li a {
    position: relative;
}

ul.block-menu-legal li a:after {
    content: "|";
    display: block;
    position: absolute;
    right: -15px;
    top: -2px;
    color: #000;
}

/*------------------------------Span------------------------------*/
.sec-footer .copyright {
    color: #000;
    display: block;
    font-size: .875rem;
    font-weight: 300;
}

.sec-footer .build-id {
    color: #000;
    display: block;
    font-size: .625rem;
    font-weight: 300;
}
